@model IEnumerable<TODO_APP.ViewModels.IndexTodoViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="row justify-content-between">
    <h1>Todos</h1>
    @await Component.InvokeAsync("CategoryDropdown")
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model.Count() == 0)
{
    <h1>THERE IS NO TODOS :(</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Category
                </th>

                <th>
                    Tittle
                </th>

                <th>
                    Description
                </th>

                <th>
                    Deadline
                </th>

                <th>
                    isDone
                </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @{
                        if (item.categoryModel != null)
                        {
                            <td>@item.categoryModel.NameC</td>
                        }
                        else
                        {
                            <td>No Category</td>
                        }
                    }

                    <td>
                        @item.todoModel.Tittle
                    </td>


                    @{
                        if (item.todoModel.DescriptionT != null)
                        {
                            <td>@item.todoModel.DescriptionT</td>
                        }
                        else
                        {
                            <td>No Description</td>
                        }
                    }

                    @{
                        if (item.todoModel.Deadline != null)
                        {
                            <td>@item.todoModel.Deadline</td>
                        }
                        else
                        {
                            <td>No Deadline</td>
                        }
                    }

                    <td>
                        @{
                            if (item.todoModel.isDone)
                            {
                                <a type="button" class="btn btn-success"
                                   asp-action="ToggleTodoIsDone" asp-route-id="@item.todoModel.id">DONE</a>
                            }
                            else
                            {
                                <a type="button" class="btn btn-danger"
                                   asp-action="ToggleTodoIsDone" asp-route-id="@item.todoModel.id">NOT DONE</a>
                            }
                        }
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.todoModel.id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.todoModel.id" onclick="confirmDeletion('Todo: @item.todoModel.Tittle')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}